/* body {
  overflow: hidden;
} */

#root {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
}

.row {
  height: 12px;
  display: flex;
}

.cell {
  width: 12px;
  height: 100%;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
}

.alive {
  background-color: #ccc;
}
